@import '~@fontsource-variable/roboto-mono';
@import '~@fontsource-variable/nunito';

@import "./utils/css/reset.css";
@import "normalize.css";
@import "sanitize.css";
@import "normalize.css/opinionated.css";


body {
  padding-right: 0 !important;
  // overflow: visible !important;
  color: #333;
  overflow-x: hidden;
  font-family: 'Nunito Variable', 'Roboto Mono Variable', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.2;
  background-image: url(./images/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center -80px;
  -webkit-background-attachment: scroll;
  -moz-background-attachment: scroll;
  -o-background-attachment: scroll;
  background-color: #FFF;

  @media (min-width: 480px) {
    background-image: url(./images/bg768.jpg);
    background-position: center 22px;
  }

  @media (min-width: 768px) {
    background-image: url(./images/bg1280.jpg);
    background-position: center -160px;
  }

  @media (min-width: 1280px) {
    background-position: center -155px;
  }

  @media (min-width: 1440px) {}
}

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }